# Database
DATABASE_URL="libsql://"
DATABASE_AUTH_TOKEN=""

# Generate secret helper: openssl rand -hex 32
SESSION_SECRET=""
ENV=development
TELEGRAM_CALLBACK_URL="https://patungan.helmisatria.com"
TELEGRAM_WEBHOOK_ID="123"